<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SuperFrete_PagarmeGraphql" setup_version="1.0.0">
        <sequence>
            <module name="SuperFrete Pagarme" />
        </sequence>
    </module>
</config>